<h1>Listing students</h1>
 <%= link_to 'ExportPDF', students_path(:format=>:pdf) %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Batch</th>
      <th>Address</th>
      <th>Mobile</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.age %></td>
        <td><%= student.batch %></td>
        <td><%= student.address %></td>
        <td><%= student.mobile %></td>
        <td><%= student.email %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
